body {
    background: #FAFAFA;
    font-family: "Helvetica Neue", Arial, sans-serif;
    padding-top: 50px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.nav li a:hover{
    background-color: #00AAFA;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 32px;
}

.post {
    background-color: #FAFAFA;
    border: 2px solid #efefef;
    border-radius: 10px;
    padding: 5px 5px;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
}

.post h2 a:visited {
    color: #00AEFF;
}

.post h2 a {
    color: #FF0065;
}

#base-page {
    background-color: #0082FF;
    padding: 20px 20px 20px 40px;
    text-decoration: none;
}

.new-drafts {
    background: #0082FF;
    border-radius: 5px;
}

.page-header a{
    color: #ffffff;
}

.page-header small {
    color: #E5E5E5;
    font-size: 24px;
}

.post_detail h1{
    color: #00aeff;
    text-align: left;
}

.post_detail{
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 10px;
}

.user {
    font-size: 24px;
}

.date {
    float: right;
    color: #828282;
}

.post-form textarea, .post-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.drafts {
    text-align: left;
    padding: 10px;
}
