<!DOCTYPE html>

{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marioshoni | {% block title %}One of a Kind{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static "css/blog.css" %}">
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/blog/" class="navbar-brand">Marioshoni Bush School</a>
                </div>

                <div class="collapse navbar-collapse" id="mynavbar-content">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'django.contrib.auth.views.logout' %}">{{ user.username }} -- Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'django.contrib.auth.views.login' %}">
                                    <span class="glyphicon glyphicon-lock pull-right"> Login</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div><!-- .navbar navbar-inverse -->


        <div class="container">
            <div class="page-header jumbotron">
                <h1>
                    <a href="/blog/">Marioshoni Bush School</a>
                    <br><small>Lessons learnt at Marioshoni : One of a kind.</small>
                </h1>

                {% if user.is_authenticated %}
                    <p class="user">Hi {{ user.username }}</p>
                    <ul class="nav nav-tabs pull-right new-drafts">
                        <li>
                            <a href="{% url 'blog.views.post_new' %}">
                                <span class="glyphicon glyphicon-plus"> New</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'post_draft_list' %}">
                                <span class="glyphicon glyphicon-edit"> Drafts</span>
                            </a>
                        </li>
                    </ul>
                    
                {% else %}
                    <span class="user">Hi there.</span>
                {% endif %}
            </div>

            <div class="row">
                <div class="well-lg col-md-12">
                    {% block content %}
                        
                    {% endblock %}
                </div>                
            </div>

            <hr>

            <div class="footer pull-right">
                {% block breadcrumb %}
                {% endblock %}
            </div>

            <div class="footer pull-left">
                <p><small>&copy;Copyright Waiyaki&trade;, Inc. 2015</small></p>
            </div>
        </div> <!-- .container -->

        <script src="{% static "js/jquery_1_11_2.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </body>
</html>