{% extends 'blog/base.html' %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            <div class="col-xs-12 col-md-10 col-md-offset-1 post">
                <h1 class="text-center"><a href="{% url 'post_detail' post_slug=post.slug %}">{{ post.title }}</a></h1>
                <p>
                    {{ post.text|linebreaks|truncatechars:2000 }}
                    {% if post.text|length > 2000 %}
                        <a href="{% url 'post_detail' post_slug=post.slug %}">Read More &raquo;</a>        
                    {% endif %}
                </p>
                <div class="date">Published: {{ post.published_date }} by {{ post.author }}</div>
            </div>
        {% endfor %}
        
    {% else %}
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 jumbotron">
            {% if user.is_authenticated %}
                <h1>Hello {{ user.username }}.</h1>
                <p>From where I am sitting, it looks like you -- or any other community member -- are yet to post any content.</p>
                <p>Click on the button below to create new content.</p>
                <br>
                <h2><a href="{% url 'post_new' %}"><span class="btn btn-primary btn-lg btn-block">Post a new blog</span></a></h2>
            {% else %}
                <h1>Hello there.</h1>
                <p><em>Oops!</em> It looks like there is no blog content at this time. Please do check again later.</p>
            {% endif %}     
        </div>
    {% endif %}
    {% if posts %}
        <!-- Next, Prev links -->
        <div class="row" style="clear: both">
            <span class="step-links">
                <ul class="pager">
                    <div class="col-xs-4">
                        {% if posts.has_previous %}
                            <li class="previous">
                                <a href="?page={{ posts.previous_page_number }}">&larr; Newer</a> 
                            </li>
                        {% endif %}
                    </div>
                    <div class="col-xs-4">
                        <li class="active">
                            <a href="">{{ posts.number }} / {{ posts.paginator.num_pages }}</a>
                        </li>
                    </div>
                    <div class="col-xs-4">
                        {% if posts.has_next %}
                            <li class="next">
                                <a href="?page={{ posts.next_page_number }}">Older &rarr;</a>
                            </li>
                        {% endif %}
                    </div>

                </ul>
            </span>
        </div>
    {% endif %}

<!--
    {% if visits %}
        <div class="row">
            <div class="col-xs-12 pull-left">
            <p><small>You have visited this site {{ visits }} time(s).</small></p>
            </div>
        </div>
    {% endif %}
-->
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active"><a href="/blog/">Home</a></li>
    </ol>
{% endblock %}