{% extends 'blog/base.html' %}

{%  block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="post_detail col-sm-10 col-sm-offset-1 col-xs-12">
        {% if user.is_authenticated %}
            <ul class="nav nav-tabs pull-right">
                <li>
                    <a href="{% url 'post_edit' post_slug=post.slug %}" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"> Edit</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'post_remove' post_slug=post.slug %}"  class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"> Delete</span>
                    </a>
                </li>
            </ul>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>

        <div class="date pull-left">
            {% if post.published_date %}
                <p>Published: {{ post.published_date }} by {{ post.author }}</p>
            {% else %}
                <p>Created: {{ post.created_date }} by {{ post.author }}</p>
                {% if user.is_authenticated %}
                    <br>
                    <a href="{% url 'post_publish' post_slug=post.slug %}"    class="btn btn-primary btn-lg btn-block">Publish</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/blog/">Home</a></li>
        <li class="active"><a href="{% url 'post_detail' post_slug=post.slug %}">{{ post.slug }}</a></li>
    </ol>
{% endblock %}