<!DOCTYPE html>
<html>
    <head>
        <title>Waiyaki | Marioshoni</title>
    </head>
    <body>
        <div>
            <h1><a href="#">Lessons at Marioshoni</a></h1>
        </div>
        <div>
            <p>Hi there.</p>
            <p>These are the lessons learnt at Marioshoni.</p>
        </div>

        {% for post in posts %}
            <div>
                <h2><a href="#">{{ post.title }}</a></h2>
                <p>{{ post.text | linebreaks }}</p>
                <p>Written by: {{ post.author }}</p>
                <p>Published: {{ post.published_date }}</p>
            </div>
        {% endfor %}   
    </body>
</html>