{% extends 'blog/base.html' %}

{%  block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="post_detail col-sm-10 col-sm-offset-1 col-xs-12">
        {% if user.is_authenticated %}
            {% if post.author.username == user.username or user.is_staff %}
                <ul class="nav nav-tabs pull-right">
                    <li>
                        <a href="{% url 'post_edit' post_slug=post.slug %}" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"> Edit</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'post_remove' post_slug=post.slug %}"  class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove"> Delete</span>
                        </a>
                    </li>
                </ul>
            {% endif %}
        {% endif %}

        <h1 class="page-header">{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>

        <div class="date pull-left">
            {% if post.published_date %}
                <p>Published: {{ post.published_date }} by {{ post.author }}</p>
            {% else %}
                <p>Created: {{ post.created_date }} by {{ post.author }}</p>
                {% if user.is_authenticated %}
                    {% if user.username == post.author.username or user.is_staff %}
                        <br>
                        <a href="{% url 'post_publish' post_slug=post.slug %}"    class="btn btn-primary btn-lg btn-block">Publish</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <br>
        {% if post.published_date %}
            <hr>
            <h1>Comments:</h1>
            {% if comments %}
                <form action="{% url 'delete_comment' post_slug=post.slug %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% for comment in comments %}
                            <div class="col-xs-10 col-sm-9 col-md-8 pull-left post" id="comment">
                                <div class=" date pull-left">{{ comment.created_date }} | {{ comment.author }}</div>
                                <h2>{{ comment.title }}</h2>
                                <div class="comment-body">
                                    <p>{{ comment.text | linebreaks }}</p>
                                </div>
                                {% if user.username == post.author.username or user.is_staff %}
                                    <div>
                                        <input type="checkbox" name="delete" value="{{ comment.pk }}">
                                        <a href="{% url 'delete_comment' post_slug=post.slug pk=comment.pk %}">Delete</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if user.is_staff %}
                        <div class="row">
                            <button type="submit" class="btn btn-danger">Delete all selected.</button>
                        </div>
                    {% endif %}
                </form>
            {% else %}
                <p class="comment-body"><small><em>No comments yet. Feel free to leave one below.</em></small></p>
            {% endif %}
            <hr>
            <h1>Leave a Comment...</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-6 pull-left">
                    <form role="form" method="post" action="{% url 'add_comment' slug=post.slug %}">
                        {% csrf_token %}
                         <div class="form-group">
                            <label for="id_author">Name:</label>
                            <input type="text" id="id_author" maxlength="60" name="author" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <label for="id_title">Title:</label>
                            <input type="text" maxlength="60" name="title" id="id_title" class="form-control" placeholder="Comment Title">
                        </div>
                        <div class="form-group">
                            <label for="id_text">Comment:</label>
                            <textarea id="id_text" class="form-control" rows="6" cols="40" placeholder="Your Comment" name="text"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/blog/">home</a></li>
        <li class="active"><a href="{% url 'post_detail' post_slug=post.slug %}">{{ post.slug }}</a></li>
    </ol>
{% endblock %}